*{
    --background-card:#1CAADC;

}

.box{
    display: flex;
  
    flex-direction: column;
    max-width: 100%;
    gap: 1em;
    height: auto;
    padding: 1em;
    
}
.card{
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    
    border-width: 1px;
    border: gainsboro solid;
    border-radius: 10px;
}
.props{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    text-align: center;
    
    

}
.props_temp{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    text-align: center;
    & h3{
        font-size: small;
        margin: 0;
    }
}
.main_desc{
    margin: 0;
}
.desc{
    margin: 0;
    font-size: smaller;
}
.container{
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    max-width: 100%;
    gap: 1em;
    height: auto;
    padding-bottom: 1em;
  
}


::-webkit-scrollbar{
    height: 2px;
    border-radius: 10px;
}