ul{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    
}
.section-task{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
a{
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: x-large;
    background-color: antiquewhite;
    padding: 1em;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
a:hover{
    background-color: burlywood;
    transition: all 0.2s ease-in-out;
}