
*{
    --background-card:#1CAADC;

}
.box-wheater{
    animation: fade 1s ease-in-out forwards;
}
.props{
    display: flex ;
    flex-direction: column;
    gap: 1em;
   
}
.actual-time-cards{
    border:none;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4em;
    box-shadow: none;
}
.iconTime_descripcion{
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-width: 1px;
    border: gainsboro solid;
    border-radius: 10px;

   
}
.other_props{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:2em;
    overflow-x: auto;
    padding-bottom: 1em;
    & article{
        border-width: 1px;
        border: gainsboro solid;
        border-radius: 10px;
        padding: 1em;
        align-items: center;
        flex-grow: 1;
        text-align: center;
        text-wrap: nowrap;
      

    }

}
.temp_max_min{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;

}
 h2 {
    margin: 0;
    font-size: medium;
    text-wrap: nowrap;
}

.box-recomendations{
    display: flex;
    flex-direction: row;
    gap: 1em;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-around;

    padding-bottom: 1em;
  
}
.box-setcion-recomendations{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
}
.recomendations{
    border-width: 1px;
    border: gainsboro solid;
    border-radius: 10px;
    padding:1em;
    text-wrap: nowrap;

}

::-webkit-scrollbar{
    height: 2px;
    border-radius: 10px;
}
@keyframes fade {
    0%{
     opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}