
*{
    --background-card:#1CAADC;

}
.box-wheater{
    animation: fade 1s ease-in-out forwards;
}
.props{
    display: flex ;
    flex-direction: column;
    gap: 1em;
   
}
.actual-time-cards{
    border:none;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4em;
    box-shadow: none;
}
.iconTime_descripcion{
    display: flex;
    flex-direction: column;
    padding: 1em;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 10px 2px black;
    
    border-radius: 10px;
   
}
.other_props{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap:2em;
    & article{
        box-shadow: 0px 0px 10px 2px black;
        border-radius: 10px;
        border-width: 1px;
        padding: 1em;
        align-items: center;
        flex-grow: 1;
        text-align: center;
      

    }

}
.temp_max_min{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;

}
 h2 {
    margin: 0;
    font-size: medium;
}

@keyframes fade {
    0%{
     opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}