/* You can add global styles to this file, and also import other style files */
:root{
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}
body{
    margin: 0;
    padding: 0;

    
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background: aliceblue;
}