<app-menu></app-menu>
<section>
    
    <h1>
        Proyectos integrados
    </h1>
    <article >

        <ol class="list-proyect">
            <a  href="wheater">
                <img width="450" height="400" src="../../../../../assets/Captura de pantalla 2024-04-29 124340.png">
                <h1>
                    App del tiempo
                </h1>
                
            </a>
            <a href="banderas">
                <img   width="450" height="400" src="../../../../../assets/BanderasCaptura.PNG">
                <h1>
                    App de banderas
                </h1>
            </a>
    
        </ol>
    </article>


</section>