section{
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
  
}

.link{
    border: black solid;
}
p{
    padding: 1em;
    font-size: medium;
    text-wrap: wrap;
    text-align: justify;
    text-justify: auto;
    
}
.list-proyect{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
    overflow-x: auto;
    justify-content: space-around;
}
a{
    display: flex;
    flex-direction: column;
    gap: 2em;
    border: snow solid 1px;
    text-decoration: none;
    
    color: #000;
    padding: 1em;
    cursor: pointer;
    
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover{
    border-radius: 10px;

    color: black;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    & img{
        border-radius: 10px;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}
img{
    object-fit: cover;
    width: 500px;
    height: 350px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
::-webkit-scrollbar{
    height: 1px;
}